/**
 * Module dependencies
 */

@require './variables'
@require 'shoelace-ui-font-size'
@require 'shoelace-ui-line-height'
@require 'shoelace-ui-spacing'

/**
 * Apply `legend` styles.
 */

legend
  display block
  width 100%
  padding 0
  margin-bottom line-height--computed
  font-size (font-size--base * 1.5)
  line-height inherit
  color legend--color
  border 0
  border-bottom 1px solid legend--border-color
